.title {
  font-size: 35px;
  font-weight: 700;
  color: var(--title-color);
  margin-bottom: 28px;
}

.fadeUpContainer {
  width: 100%;
  animation: fadeUp 0.5s ease-out;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2%;
  row-gap: 3%;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 1.8rem;
  border-radius: var(--border-radius);
  background-color: var(--card-background);
}

.cardImageContainer {
  position: relative;
  max-width: 100%;
  aspect-ratio: 1.6 / 1;
}

.cardImageContainer img {
  object-fit:cover;
  border-radius: var(--border-radius);
}

.cardTitle {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: var(--title-color);
  margin-bottom: 10px;
}

.cardDate {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-color);
}

@media (max-width: 700px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}


@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}