.main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.container {
  margin-top: 40px;
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 16px;
  margin-bottom: 40px;
}

@media (max-width: 700px) {
  .main {

  }
}