.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
}

.main h1 {
  font-size: 60px;
  font-weight: 700;
}

/* Mobile */
@media (max-width: 700px) {
}