.topContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid var(--gray-color);
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1.6 / 1;
}

.imageContainer img {
  object-fit: cover;
  border-radius: var(--border-radius);
}

.title {
  margin-top: 1rem;
  font-size: 32px;
  font-weight: 700;
  color: var(--title-color);
  margin-bottom: 28px;
}

.published {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-color);
  margin-bottom: 20px;
}

.contentContainer {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  width: 100%;
  line-height: 2rem;
}

@media (max-width: 700px) {
  .title {
    font-size: 26px;
  }
}